%btn{
    display: inline-block;
    border-radius: 5px;
    padding:10px 20px;
    margin: 5px;
}
.btn-primary{
    
    @extend %btn;
    background-color: $heading-color;
    color: $primary-color;
    
}
.btn-secondary{
    @extend %btn;
    background-color:lighten($primary-color,20%);
}